

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ajouter un article{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    </head>
    <body>
        {% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<nav class="align-items-center margin-left-50%" role="button">
        <h2>
            Ajouter une Categorie
        </h2>
</nav>
<div class="container">
    <div class="row">
        <div class="row col-sm-() col-form-label">
            {{ form_start(categoryForm, {
                'attr': {
                    'novalidate': 'novalidate',
                    'class': 'col-lg-5 align-items-center' 
                    }
                })
            }}

            {{form_row(categoryForm.title)}}
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary col-sm-2" style="margin-top: 1%;">Ajouter</button>
       
    {{ form_end(categoryForm) }}
</div>


{% endblock %}
    </body>
</html>
