{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<main class="container">
    <div class="row">
<!--CORPS-->
        <div class="col-md-8">        
            <h3 class="container fst-italic mb-4 pb-4 border-bottom">Article(s) récent(s) pour cette Catégorie</h3>
            <div id="article_list">
                {%  include 'widgets/int.html.twig' with { article } %}
            </div>
         </div>


         <a href="{{path('delCategory', {'id': 16})}}">
            <button type="submit" class="btn btn-primary col-sm-8" style="margin-top: 1%;">supprimer la categorie</button>
        </a>
<!--ONGLETS DE DROIT-->
<div class="col-md-4" style="position: fixed; margin-left: 80%; height: 100%; background-color: azure; top: 2rm;">
    <div class="container position-sticky" style="top: 2rm;">
   </div>
   {% include 'widgets/categories.html.twig' %}
</div>
           
</div>        
</div>
   
</div>
</main>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="copyright fst-italic">@ 20{{'now'|date('y')}} Swiss eco concept. Tous droits reservés.</span>

        </div>

    </footer>   

</div>
{% endblock %}
